body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ventory-datepicker {
  display: inline-flex;
  margin-top: 0 !important;
  margin-left: 0 !important;
}

.ventory-datepicker .MuiTextField-root {
  width: 30ch;
}

.add-item-container form.MuiBox-root {
  margin-bottom: 20px;
}

.active-nav {
  background: #0275d8 !important;
}

.out-of-stock {
  background-color: #6c757d !important;
}

.out-of-stock th,
.out-of-stock td {
  color: #222 !important;
}
